/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}